body{
    font: 18px sans-serif;
    color: #000;
    border-radius: 3px 3px 3px 3px;
}
label{
    font-weight: bold;
}

input[type="radio"]:checked {
    background-color: green;
}

input,
input::placeholder {
    font: 1.25rem/1.5 sans-serif;
    border-radius: 3px 3px 3px 3px;
}
textarea,
textarea::placeholder{
    font: 1.25rem/1.5 sans-serif;
    border-radius: 3px 3px 3px 3px;
    
}
#sort{
    font: 1.25rem sans-serif;
    border-radius: 3px 3px 3px 3px;
    border: 3px solid #000;
    border-color: rgb(37, 200, 37);
}

th {
    border: 1px solid #000;
}
td{
    border: 1px solid #000;
}