body{
    font: 18px sans-serif;
    color: #000000;
}
label{
    font-weight: bold;
}
input,
input::placeholder {
    font: 1.25rem/2 sans-serif;
}
textarea,
textarea::placeholder{
    font: 1.25rem/2 sans-serif;
    
}
#sort{
    font: 1.25rem sans-serif;
}

th {
    border: 1px solid #000;
}
td{
    border: 1px solid #000;
}